body{
    background-color: darkgreen;
    color: #021903;
    background-image: url("images-1.jpg")
}

h2{
    color:#0d5e1e !important;
    text-align: conter;
}

#pagetitle{
    background-color: black;
    text-align: center;
    padding: 60px;
    border: dotted;
    border-width:5px;
    margin: 20px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}